ENVIRONMENT=development
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256
SECRET_KEY=troque-por-uma-chave-gerada
FERNET_KEY=troque-por-uma-chave-fernet-gerada
DATABASE_URL=mysql+pymysql://usuario:senha@localhost:3306/jurisai_db

# Gere uma senha de app no Google: https://support.google.com/accounts/answer/185833
SMTP_EMAIL=seu_email_aqui@gmail.com
SMTP_PASSWORD=sua_senha_de_app_aqui